.user-role {
    position: relative;
    padding: @padding-lg;

    :global {
        .@{prefix}-view__inner {
            display: flex;
            flex-direction: column;
            padding: @padding-lg;
        }

        .@{prefix}-tab-content {
            position: relative;
            flex: 1;
            overflow: auto;

            > div {
                height: 100%;
            }
        }
    }
}
